<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Folders</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.folder</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>zip</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>application/zip</string>
                <string>application/x-zip</string>
                <string>application/x-zip-compressed</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Zip Archive</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>ZIP </string>
                <string>ZIP_</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.pkware.zip-archive</string>
                <string>public.zip-archive</string>
            </array>
            <key>NSDocumentClass</key>
            <string>MyDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pdf</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>application/pdf</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>PDF</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.adobe.pdf</string>
            </array>
            <key>NSDocumentClass</key>
            <string>MyDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>png</string>
                <string>jpg</string>
                <string>jpeg</string>
                <string>gif</string>
                <string>bmp</string>
                <string>tiff</string>
                <string>webp</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>image/png</string>
                <string>image/jpeg</string>
                <string>image/gif</string>
                <string>image/webp</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.image</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>NSDocumentClass</key>
            <string>MyDocument</string>
        </dict>
    </array>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>org.webmproject.webp</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>webp</string>
                </array>
                <key>public.mime-type</key>
                <string>image/webp</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>